.o{
    width: 100px;
}
.o:hover{
    margin: 100px;
    transform:scale(3) ;
    transition: 3s linear;
}
select{
    border: none;
    background-color: #343434;
    font-size: 25px;
    color:white;
    height: 50px;
    }
select:hover{
    border-bottom: 5px double white;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-self: start;
    border-bottom: 2px solid lightgray;
    }
body{
    background-color: #343434;
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
}
a{
    font-family: sans-serif; 
}
img{
    width: 100%;
}
.ab::after{content: url(https://i.postimg.cc/d0YVXGrB/free-icon-font-discord-6422197-2.png);}
p{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Arial Narrow Bold',sans-serif;
    line-height: 40px;
    font-weight: 400;
    
}
footer{
    background-color: grey;
    padding: 1px;
    margin-top: 50px;
}
